<style>
    .login-container{
        text-align: -webkit-center;
        width: 100%;
    }
    label{
        float: left;
    }
    button{
        width: 100px;
    }
</style>

<div class="container login-container">
        <div class="card" style="width: 30rem;">            
            <div class="card-header">Login Form</div>    
            <div class="card-body">
                <form action="/login" method="POST">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Enter Email address">                        
                    </div>

                    <div class="mb-3">
                        <label for="pass" class="form-label">Mật khẩu</label>
                        <input type="password" class="form-control" id="pass" name="pass" value="{{user.secrectKey}}" placeholder="Enter SerectKey">                        
                    </div>

                    <button type="submit" class="btn btn-primary">Login</button>
                    <button type="button" class="btn btn-warning"><a href="/register">Register</a></button>
                </form>
            </div>
        </div>
    </div>